<nav class="nav nav--fancy">
  <ul class="nav__list">
    <li class="nav__item">
      <a class="nav__link" [routerLink]="''">
        {{ "nav.about-me" | transloco }}
      </a>
      <ul class="nav-sub" [@listAnimation]="aboutMeRoutes().length">
        @for (item of aboutMeRoutes(); track item.route) {
        <li class="nav-sub__item nav-sub__item--{{ $index }}">
          @if(showAboutMeSub()){
          <a class="nav__link" [routerLink]="item.route">
            {{ "nav." + item.route | transloco }}
          </a>
          }
        </li>
        }
      </ul>
    </li>
    <li class="nav__item">
      <a class="nav__link" [routerLink]="'references'">
        {{ "nav.references" | transloco }}
      </a>
    </li>
    <li class="nav__item nav__item--small">
      <a class="nav__link" [routerLink]="'imprint'">
        {{ "nav.imprint" | transloco }}
      </a>
    </li>
  </ul>
  <app-language-selection class="lang"></app-language-selection>
</nav>
