<h3>{{ "introduction.greeting" | transloco }}</h3>
<p>
  {{
    "introduction.intro"
      | transloco
        : {
            age: { year: 1996, month: 3 } | yearAmount,
            experience: { year: 2017, month: 5 } | yearAmount
          }
  }}
</p>
<p>
  {{ "introduction.main" | transloco }}
</p>
<p>
  {{ "introduction.end" | transloco }}
</p>

<div class="social-media">
  <app-social-media-button
    [url]="'https://www.linkedin.com/in/stefan-mitterlehner-8a1494163/'"
    [type]="'linked-in'"
  ></app-social-media-button>
  <app-social-media-button
    [url]="'https://www.xing.com/profile/Stefan_Mitterlehner/'"
    [type]="'xing'"
  ></app-social-media-button>
  <app-social-media-button
    [url]="'https://twitter.com/FullStackStefan'"
    [type]="'twitter'"
  ></app-social-media-button>
  <app-social-media-button
    [url]="'mailto:office@mitterlehner.click'"
    [type]="'mail'"
  ></app-social-media-button>
</div>
