<h3>Hello!</h3>
<p>
  My name is Stefan, I'm a {{ { year: 1996, month: 3 } | yearAmount }} year old
  professional software engineer for over
  {{ { year: 2017, month: 5 } | yearAmount }} years.
</p>
<p>
  In those years I gained lots of experience in different areas of software
  development, including C#/.NET, Angular and React. My main focus is no web
  development (full stack), but I also have experience in desktop development
  with WPF. I'm also very interested in software architecture and design, but
  also recent developments in generative AI.
</p>
<p>If you have any question or interest, please feel free to contact me!</p>

<div class="social-media">
  <app-social-media-button
    [url]="'https://www.linkedin.com/in/stefan-mitterlehner-8a1494163/'"
    [type]="'linked-in'"
  ></app-social-media-button>
  <app-social-media-button
    [url]="'https://www.xing.com/profile/Stefan_Mitterlehner/'"
    [type]="'xing'"
  ></app-social-media-button>
  <app-social-media-button
    [url]="'https://twitter.com/FullStackStefan'"
    [type]="'twitter'"
  ></app-social-media-button>
  <app-social-media-button
    [url]="'mailto:office@mitterlehner.click'"
    [type]="'mail'"
  ></app-social-media-button>
</div>
