<nav class="nav">
  <ul class="nav__list">
    <li class="nav__item">
      <a class="nav__link" [routerLink]="''" (click)="itemClicked.emit()">
        {{ "nav.home" | transloco }}
      </a>
      <ul class="nav__sublist">
        @for (r of menuService.getAboutMeRoutes(); track r) {
        <li class="nav__sub-item">
          <a
            class="nav__link"
            [routerLink]="r.route"
            (click)="itemClicked.emit()"
            >{{ "nav." + r.route | transloco }}</a
          >
        </li>
        }
      </ul>
    </li>
    <li class="nav__item">
      <a
        class="nav__link"
        [routerLink]="'references'"
        (click)="itemClicked.emit()"
      >
        {{ "nav.references" | transloco }}
      </a>
    </li>
    <li class="nav__item">
      <a
        class="nav__link nav__link--small"
        [routerLink]="'imprint'"
        (click)="itemClicked.emit()"
      >
        {{ "nav.imprint" | transloco }}
      </a>
    </li>
  </ul>
  <app-language-selection></app-language-selection>
</nav>
